 body {
    /*font-family: Arial;*/
    color: #555;
  }
  
  .container {
    margin-left: 10px;
  }
  
  .node rect {
    cursor: crosshair;
    fill-opacity: 1.0;
    shape-rendering: crispEdges;
  }
  
  .node text {
    pointer-events: none;
    fill: #555;
  }
  
  .link {
    cursor: crosshair;
    fill: none;
    stroke: #000;
    stroke-opacity: .5;
  }
  
  .link:hover {
    stroke-opacity: 1.0 !important;
  }
  
  div.tooltip {
    position: absolute;
    padding: 5px;
    text-align: left;
    font: 12px sans-serif;
    color: #000;
    background: #AAA;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    border-radius: 8px;
  }
  
  .nytg-sort li.selected {
    background: none repeat scroll 0 0 #e9e9e9;
    border-color: #aaa;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
    color: #555;
  }

  .nytg-sort li.enabled {    
    border-color: #808080;
    color: #595959;
  }  
  
  ul {
    list-style: outside none none;
    margin-top: 80px;
  }

   .nytg-sort li {
    background: none repeat scroll 0 0 #f9f9f9;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #999;
    cursor: pointer;
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 10px 18px;
    border-radius: 4px 4px 4px 4px;
  }

  #infotext, #infotext2 {
    position: relative;
    top: 26px;
    left: 16px;
  }
  
  #sortCol {
    position: relative;
    top: -715px;
    left: 1142px;
  }
  
  /*css for stacked bar charts*/
  .axis path,
  .axis line {
    fill: none;
    stroke: #b3b3b3;
    shape-rendering: crispEdges;
  }

  .axis text {
     fill: #2f2f2f;
     font-size: 12px;
  }

  .y.axis, .x.axis {
    font-size: 10px;
    color: #2f2f2f;
  }
  
  .bar {
    fill: steelblue;
  }

  .active_bar {
    stroke: orange;
    stroke-width: 2.5px;
  }
  
  
  .x.axis path {
    display: none;
  }
  
  label {
    position: relative;
    left: 564px;
    top: -315px;    
    font: 10px sans-serif;
  }
  
  .grid {
    stroke: lightgrey;
    opacity: 0.7;
    shape-rendering: crispEdges;
  }

  .class_chartTitle {
    position: relative;
    left: 200px;
    top: -745px;
    width: 500px;

  }

  #Mchart {
    position: relative;
    top: 100px;
    height: 600px;
  }

  #Mmap {
    position: relative;
    top: -725px;
    left: 651px;
    height: 600px;
  }

  .background {
    fill: none;
    pointer-events: all;
    position: absolute;
  }

  .feature {
    fill: #ccc;
    stroke: #000;
    stroke-width: 0.2;
    cursor: pointer;
  }

  .feature.active {
    fill: orange;
  }

  .feature.outline, .outline_mapclick {
    stroke: orange;
    stroke-width: 0.9;
  }

  .mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  #legendDiv {
    background-color: white;
    border: 1px solid #a9a9a9;
    position: absolute;
    top: 562px;
    left: 733px;
    height: 124px;
    width: 110px;
    opacity: 0.85;
    padding: 10px;
    border-radius: 10px;
  }
 
   #legendDivTitle {    
    position: absolute;
    top: 536px;
    left: 717px;
    height: 100px;
    width: 153px;
  }

  .subunit-boundary {
    fill: none;
    stroke: #810f7c;
    opacity: 0.5;
    /*stroke-dasharray: 1,1;
    stroke-linejoin: round;*/
    stroke-width: 0.6;
  }

  .orca-grid {
    fill: none;
    stroke: red;
    opacity: 0.5;
    stroke-width: 0.05;
  }

  .button-active {
    background: none repeat scroll 0 0 #e9e9e9;
    border-color: #aaa;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
    color: #555;
  }